---

name: 'Test'

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Prerelease'
        type: bool
        default: false

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
    steps:
      - name: 'Who am I?'
        run: whoami

      - name: "What's my home directory?"
        run: echo $HOME

      - name: "What's my UID?"
        run: echo $UID
